
<!--@app.route('/')
def inicio():
    inic = mysql.connection.cursor()
    inic.execute("select cod_usu, nom_usu, pas_usu, rol_usu from Usuario")
    usuario = inic.fetchall()
    mysql.connection.commit()
    return render_template("index.html", usuarios=usuario)

@app.route("/inicio_agregar", method=["POST"])
def inicio_agregar():
    if request.form == "POST":
        codigo = request.form["codUsu"]
        nombre = request.form["nomUsu"]
        contraseña = request.form["pasUsu"]
        perfil = request.form["rolUsu"]
        inic = mysql.connection.cursor()
        inic.execute(""" Insert Into Usuario
        (cod_lib,nom_usu,pas_usu,rol_usu) 
        values(%s,%s,%s,%s)""",(codigo,nombre,contraseña,perfil,))
        mysql.connect.commit()
        return redirect(url_for("inicio"))