<link rel="Stylesheet" href="/static/css/Style.css">

{% extends 'base.html' %}
{% block contenido %}
<form action="/laboratorio" method="POST">
    <table>
       <tr> 
           <td> 
                <label for="codigo" >Codigo</label>     
                <input  type="number" name="codigo" id=codLab > 
            </td>
        </tr> 
        <tr> 
            <td> 
                <label for="codigo">Codigo de la consulta </label>
                 <input type="text"  name="codigo" id="codiCon">  
            </td>
        </tr>
        <tr>
            <td> 
                <label for="examen">Examen de laboratorio</label>
                <input type="text"  name="examen" id="exam">
            </td>
        </tr> 
        <tr>
            <td>
                <input type="submit"  class="btn2" name="ingresar"value="ingresar">
            </td>
        </tr>
    </table>
</form>

{% endblock %}