<link rel="Stylesheet" href="/static/css/Style.css">
<form action ="/inicio", method="POST">
    <table>
        <tr>
            <td>
                <label for="id">id:</label>
                <input type="text" name="id" id="idMed">
            </td>
        </tr>
        <tr>
            <td>
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="nameMed">
            </td>
        </tr>
        <tr>
            <td>
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" id="apelMed">
            </td>
        </tr>
        <tr>
            <td>
                <label for="telefono">Telefono:</label>
                <input type="number" name="telefono" id="telMed">
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">correo:</label>
                <input type="text" name="email" id="emlMed"> 
            </td>
        </tr>
        <tr>
            <td>
                <select name="" id="">
                    <option value="">Escoja su especialidad</option>
                    <option>Cirujano</option>
                    <option>Ortopedista</option>
                </select>
            </td>
        </tr>
            <tr>
                <td>
                    <label for="direccion">direccion</label>
                    <input type="text" name="direccion" id="dirMed">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit"  class="btn2" name="ingresar"value="ingresar">
                    <input type="submit"  class="btn2" name="actualizar"value="actualizar">
                    <input type="submit"  class="btn2" name="eliminar"value="eliminar">
                </td>
            </tr>
    </table>
</form>

    
        