{% extends "base.html" %}
{% block body %}
<link rel="Stylesheet" href="/static/css/Style.css">
<form action="/inicio_agregar", method="POST">
    <table>
        <tr>
            <td>
                <label>Codigo</label>
                <input type="text" name="codUsu" id="codUsu" placeholder="codigo">
            </td>
        </tr>
        <tr>
            <td>
                <label>Nombre</label>
                <input type="text" name="nomUsu" id="nomUsu" placeholder="Ingresar Usuario">
            </td>
        </tr>
        <tr>
            <td>
                <label>Contraseña</label>
                <input type="password" name="pasUsu" id="pasUsu" placeholder="Ingresar contraseña">
            </td>
        </tr>
        <tr>
            <td>
                <label>Perfil</label>
                <input type="text" name="rolUsu" id="rolUsu" placeholder="Ingresar rol">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit"  class="btn2" name="ingresar"value="ingresar">
            </td>
        </tr>
    </table>
</form>
{% endblock %}