#login{
border: solid #9DF8FF 3px;
text-align: center;
}

h3{
    text-align: center; 
}

#pie{
    height:100px;
    background: rgb(40, 91, 150);
    text-align: center;
    font:30px;
    font-family:cursive;
    color:#ffffff;
}

#cuerpo{
    height:100px;
    background: rgb(1, 68, 73);
    text-align: center;
    font:30px;
    font-family:cursive;
    color:#ffffff;
}


#titulo{
    font-size:30px;
    font-family: cursive;
}

#laboratorio{
    width:380px;
    height: 250px;
    position: fixed;
    right:40%;
    top:20%;
    border: 3px solid #111111;
    text-align:center;
}

#boton{
    float:right;
}


#inicio{
    position: fixed;
    right:40%;
    top:20%;
    text-align:center;
}

.btn2{
    width: 100px;
    margin-left: 5px;
    background-color: #9DF8FF;
    border-radius: 30px;
}

#paciente, #medico, #inicio, #consulta{
    background: #98bace;
    position: fixed;
    right:40%;
    top:20%;
    text-align:left;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    
}

.paciente2, .medico2{
    width: 200px;
    background-color: #9DF8FF;
    margin-right: 30px;
}

#remision{
    width:380px;
    height:280px;
    position: fixed;
    right:40%;
    top:20%;
    border: 3px solid #111111;
    text-align:center;
}

.nav{
    border:solid #9DF8FF 2px;
    width: 250px;
    background-color: #9DF8FF;
    border-radius: 12px;
}

.nav.hover{
    transition: linear;
    transition-duration: 300ms;
    width: 150px;
}

.nav.li:hover{
    background-color: aliceblue;
    border:solid aliceblue 2px;
}


