*{
    font-size: 17px;
}
#login{
border: solid #9DF8FF 3px;
text-align: center;
}

h3{
    text-align: center; 
}

#cuerpo{
    height:100px;
    background: rgb(1, 68, 73);
    text-align: center;
    font-size:40px;
    font-family:cursive;
    color:#ffffff;
}


#titulo{
    font-size:30px;
    font-family: cursive;
}

#mod-body{
    position: fixed;
    right:40%;
    top:35%;
    text-align:center;
}

.btn2{
    width: 100px;
    margin-left: 5px;
    background-color: #9DF8FF;
    border-radius: 30px;
}

.formularios{
    width:auto;
    height: auto;
    position: fixed;
    right:40%;
    top:20%;
    text-align:left;
    background-color: #98bace;
    border: 3px solid #111111;
}


.paciente2, .medico2{
    width: 200px;
    background-color: #9DF8FF;
    margin-right: 30px;
}


footer{
    position: absolute;
    bottom: 0%;
    width: 99%;
    background: rgb(40, 91, 150);
    text-align: center;
    font:30px;
    font-family:cursive;
    color:#ffffff;
    
}

/* Todo sobre inicio de sesion */

.mod{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    border: 1px solid rgb(1, 68, 73);
    z-index: 10;
    background-color: #9DF8FF;
    width: 350px;
    max-width: 35%;
}
.mod.active{
    transform: translate(-50%, -50%) scale(1);
}

.mod-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mod-header .close-button{
    cursor: grab;
    border: none;
    outline:none;
    background:none ;
    color: rgb(1, 68, 73);
    font-size: 25px;
    font-weight: bold;
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(40, 91, 150, 0.2);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
.btnIni{
    width: 80px;
    border: 1px solid rgb(1, 68, 73);
    background-color:rgb(40, 91, 150);
    
}
#usuarioI{
    float: right;
}

/* hasta aqui inicio de secion */
