<link rel="Stylesheet" href="/static/css/Style.css">
<form action="/laboratorio", method="POST">
    <div id="cuerpo">
        <header id="encabezado">
            <h1>CLINICA COLOMBIA<H1>
        <header>
        </div>
    <div id="laboratorio">
    <table>
        <h3 id="titulo">Laboratorio<h3>
       <tr> 
           <td> 
                <label for="codigo" >Codigo:</label>   
            </td>
            <td>  
                <input  type="number" name="codigo" id="codLab" required > 
            </td>
        </tr> 
        <tr> 
            <td> 
                <label for="codigo">Codigo de la consulta:</label>
            </td>
            <td>
                 <input type="text"  name="codigo" id="codiCon" required>  
            </td>
        </tr>
        <tr>
            <td> 
                <label for="examen">Examen de laboratorio:</label>
            </td>
            <td>
                <input type="text"  name="examen" id="exam">
            </td>
        </tr> 
        <tr>
            <td colspan="2">
                <input id="boton" type="submit" class="btn2" name="ingresar"value="ingresar">
                <input id="boton" type="button"  class="btn2" name="actualizar"value="actualizar">
                <input id="boton" type="button"  class="btn2" name="eliminar"value="eliminar">
            </td>
        </tr>
    </table>
</form>
