{% extends 'base.html' %}
{% block body %}
<form id="medico" action ="/ingresar_medico", method="POST">
    <table>
        <h3 id="titulo">Medico<h3>
        <tr>
            <td>
                <label for="id">Identificacion:</label>
            </td>
            <td>
                <input type="text" name="id_med" id="idMed" class="medico2" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="name">Nombre:</label>
            </td>
            <td>
                <input type="text" name="name_med" id="nameMed" class="medico2" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="apellido">Apellido:</label>
            </td>
            <td>
                <input type="text" name="apel_med" id="apelMed" class="medico2" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="telefono">Telefono:</label>
            </td>
            <td>
                <input type="number" name="tele_med" id="telMed" class="medico2" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">Correo:</label>
            </td>
            <td>
                <input type="text" name="ema_med" id="emlMed" class="medico2" required> 
            </td>
        </tr>
        <tr>
            <td>
                <label for="especialidad">Especialidad</label>
            </td>
            <td>
            <select name="esp_med" id="espe_med" class="medico2">
                    <option value="1">Cirujano</option>
                    <option value="2">Ortopedista</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="direccion">Direccion</label>
            </td>
            <td>
                <input type="text" name="dir_med" id="dirMed" class="medico2" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="usu2">Usuario</label>
            </td>
            <td>
                <input type="text" name="us_med" id="us_med" class="medico2">
            </td>
        </tr>    
        <tr>
            <td>
                <label for="pas_med">Contraseña</label>
            </td>
            <td>
                <input type="password" name="pas_med" id="pas_Med" class="medico2">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"  class="btn2" name="ingresar"value="ingresar">
                <input type="button"  class="btn2" name="actualizar"value="actualizar">
                <input type="button"  class="btn2" name="eliminar"value="eliminar">
            </td>
        </tr>
    </table>
</form>
{% endblock %}

    
        