<link rel="Stylesheet" href="/static/css/Style.css">
<from action="/remision"> 
    <div id="cuerpo">
        <header id="encabezado">
            <h1>CLINICA COLOMBIA<H1>
        <header>
        </div>
    <div id="remision">
    <table>
        <h3>Remision<h3> 
        <tr>
            <td> 
                <label for="codigo">Codigo Consulta:</label>
            </td>
            <td>
                <input type="number" name="codigo" id="codCon" required>
            </td>
                
        </tr>
        <tr> 
            <td> 
                <label for="signosVi">Signos Vitales:</label>
            </td>
            <td>
                <input type="text" name="signosVi" id="sigVi" required> 
            </td>
        </tr>
        <tr> 
            <td> 
                <label for="incapacidad">Incapacidad del paciente:</label>
            </td>
            <td>
                <input type="text" name="incapacidad" id="inca" required>
            </td>
        </tr>
        <tr> 
            <td> 
                <label for="especalista">Especialista asignada:</label>
            </td>
            <td>
                <input type="text"name="especcialista" id="espe" required>
            </td>
        </tr>
        <tr>
            <td colpas="2">
                <input type="submit"  class="btn3" name="ingresar"value="ingresar">
                <input type="button"  class="btn3" name="actualizar"value="actualizar">
                <input type="button"  class="btn3" name="eliminar"value="eliminar">
            </td>
        </tr>
    </table>
    <div>
</from>
