{% extends "base.html" %}
{% block body %}
<form id="inicio" action="/login" method="POST">
    <div id="inicio">
    <table>
        <h3 id="titulo">Inicio de sesion<h3>
        <tr>
            <td>
                <label for="nomUs">Nombre:</label>
            </td>
            <td>
                <input type="text" name="nomUsu" id="nomUsu" placeholder="Ingresar Usuario" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="conUs">Contraseña:</label>
            </td>
            <td>
                <input type="password" name="pasUsu" id="pasUsu" placeholder="Ingresar contraseña" required>
            </td>
        </tr>
            <td colpas="2">
                <button type="submit" class="btn2" name="ingresar">Ingresar</button>
                <button type="submit" class="btn2" name="registrar">Registrar</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}